@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Since 2017, Tender Nugs have been dedicated to producing and supplying the greatest quality nuggets to our customers.</p>
<p>No artificial flavour, colours, or preservatives. Our nuggets are made from 99% chicken breast, deliciously seasoned, and prepared with Loving Hands<sup>TM</sup>. Not only are they mouth wateringly tasty, they are also a fantastic source of protein*.</p>
<p></p>
<p>*1000kcal per sevring.</p>
