@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tender Nugs</h1>
    <p class="lead">As trusted suppliers of chicken nuggets, if you @Html.ActionLink("register", "Register", "Account"), we'll send you 10 chicken nuggets for free!</p>
</div>
<div class="row">
    <p>Sound too good to be true? That's because it probably is.</p>
</div>